@model IEnumerable<Homework8Actual.Models.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    @foreach (var Animal in Model)
    {
        <div class="col-xs-3">
            <img class="img img-thumbnail" href="@Animal.Image" />
        </div>
        <div class="col-xs-9">
            <div class="list-group">
                <div class="list-group-item">@Animal.Name</div>
                <div class="list-group-item">
                    @Animal.Quantity
                </div>
                <div class="list-group-item">
                    @Animal.Price
                </div>
                <div class="list-group-item">
                    @Animal.Description
                </div>
                <div class="list-group-item">
                    @Animal.DateReceieved
                </div>

                <div class="list-group-item">
                    @Html.ActionLink("Details", "Details", new { id = Animal.AnimalID })
                </div>
            </div>
        </div>
    }
</div>

